* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

body {
  background: #fff;
  color: black;
  font-weight: bold;
  font-size: x-large;
}

#root {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 50px;
  text-align: left;
  width: 100%;
  border: 3px solid grey;
}
